<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Имя</th>
      <th scope="col">Телефон</th>
      <th scope="col">Услуга</th>
      <th scope="col">Начало процедуры</th>
      <th scope="col">Конец процедуры</th>
    </tr>
  </thead>
  <tbody>
    {{#each entriesOfDay}}
    <tr>
      <td>{{this.nameClient}}</td>
      <td>{{this.phone}}</td>
      <td>{{this.serviceId.title}}</td>
      <td>{{this.dateBegin}}</td>
      <td>{{this.dateEnd}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
